@font-face {
  font-family: 'AGENCYB';
  src: url('~assets/fonts/AGENCYB/AGENCYB.eot');
  src: url('~assets/fonts/AGENCYB/AGENCYB.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/AGENCYB/AGENCYB.woff') format('woff'),
    url('~assets/fonts/AGENCYB/AGENCYB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'headlinerno45';
  src: url('~assets/fonts/headlinerno45/headlinerno45.woff2');
  src: url('~assets/fonts/headlinerno45/headlinerno45.woff') format('woff'),
    url('~assets/fonts/headlinerno45/headlinerno45.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}