<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 14">
  <defs>
  </defs>
  <g>
    <g>
      <polygon class="cls-1" :fill="color" points="7 14 0 14 4 0 11 0 7 14" />
    </g>
  </g>
</svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#F2A900',
    }
  }
}
</script>