<template>
  <svg width="18px" height="18px" viewBox="0 0 13 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <polygon id="path-1" points="0.9385 0.321 10.4265144 0.321 10.4265144 8.62155455 0.9385 8.62155455"></polygon>
          <polygon id="path-3" points="0.111044262 0.440523904 10.5201002 0.440523904 10.5201002 8 0.111044262 8"></polygon>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Group-19" transform="translate(0.000000, -1.000000)">
              <g id="Group-3" transform="translate(2.000000, 0.678990)">
                  <mask id="mask-2" fill="white">
                      <use xlink:href="#path-1"></use>
                  </mask>
                  <g id="Clip-2"></g>
                  <path d="M7.6865,7.6088 C7.6835,7.4898 7.5785,7.3828 7.4645,7.3828 C7.3435,7.3838 7.2245,7.5148 7.2345,7.6348 C7.2425,7.7438 7.3605,7.8418 7.4785,7.8388 C7.6015,7.8358 7.6925,7.7368 7.6865,7.6088 M0.9385,2.3378 C1.2405,1.9048 1.5955,1.5878 1.9835,1.3098 C2.5825,0.8818 3.2395,0.5778 3.9575,0.4028 C4.3925,0.2968 4.8355,0.3128 5.2715,0.3448 C6.1295,0.4088 6.9495,0.6398 7.7285,1.0138 C9.1935,1.7188 10.0355,2.8838 10.3175,4.4728 C10.4225,5.0648 10.4615,6.1858 10.3905,6.7148 C10.1945,6.7218 9.9905,6.7238 9.7885,6.7368 C9.5825,6.7508 9.3765,6.7748 9.1585,6.7968 C9.0175,7.0878 9.1115,7.3878 9.1445,7.6848 C9.1465,7.7118 9.1605,7.7368 9.1675,7.7618 C9.2285,8.0028 9.2985,8.2348 9.6445,8.2958 C9.3305,8.4918 9.0465,8.5788 8.7535,8.6078 C7.9805,8.6858 7.3225,8.4308 6.7795,7.8748 C6.6485,7.7428 6.6195,7.6198 6.6855,7.4398 C6.8165,7.0878 6.9195,6.7238 7.0375,6.3648 C7.0585,6.2988 7.0895,6.2368 7.1265,6.1468 C7.3575,6.2398 7.5705,6.3288 7.7865,6.4118 C8.0335,6.5068 8.1705,6.4628 8.3615,6.2808 C8.7145,5.9418 8.6815,5.2898 8.4155,5.0248 C8.2355,4.8428 8.0375,4.7208 7.7755,4.7408 C7.5505,4.7558 7.3565,4.7018 7.1655,4.5768 C6.4215,4.0868 5.5785,3.8168 4.7425,3.5438 C3.5555,3.1568 2.3595,2.7968 1.1675,2.4238 C1.1015,2.4048 1.0385,2.3768 0.9385,2.3378" id="Fill-1" :fill="color" mask="url(#mask-2)"></path>
              </g>
              <g id="Group-6" transform="translate(0.000000, 2.678990)">
                  <mask id="mask-4" fill="white">
                      <use xlink:href="#path-3"></use>
                  </mask>
                  <g id="Clip-5"></g>
                  <path d="M10.2871,3.5824 C10.2991,3.3944 10.1581,3.2304 9.9721,3.2184 C9.7921,3.2064 9.6201,3.3644 9.6151,3.5464 C9.6091,3.7134 9.7621,3.8854 9.9221,3.8934 C10.1251,3.9034 10.2761,3.7734 10.2871,3.5824 M0.1701,6.6404 C0.0781,6.4834 0.1081,6.3564 0.1621,6.2284 C0.3521,5.7714 0.5381,5.3134 0.7341,4.8594 C0.8671,4.5474 1.0331,4.4624 1.3771,4.5274 C2.6661,4.7714 3.9531,5.0194 5.2401,5.2674 C5.5671,5.3294 5.8951,5.3874 6.2171,5.4674 C6.4261,5.5194 6.6241,5.6084 6.8261,5.6834 C6.9181,5.7174 7.0081,5.7544 7.1251,5.8004 C7.1971,5.6564 7.2691,5.5254 7.3281,5.3884 C7.5981,4.7504 7.8641,4.1104 8.1291,3.4714 C8.2211,3.2514 8.2111,3.2264 8.0001,3.1124 C7.1571,2.6594 6.2791,2.2944 5.3581,2.0284 C4.3141,1.7284 3.2721,1.4194 2.2301,1.1124 C1.9171,1.0204 1.8951,0.9474 2.1041,0.7034 C2.2981,0.4784 2.5431,0.3904 2.8301,0.4684 C3.5661,0.6694 4.3071,0.8564 5.0311,1.0944 C6.1001,1.4444 7.1581,1.8214 8.2131,2.2124 C8.5551,2.3404 8.8751,2.5314 9.1931,2.7184 C9.3731,2.8224 9.5481,2.8684 9.7531,2.8624 C10.1201,2.8524 10.3681,3.0384 10.4801,3.3804 C10.5881,3.7124 10.4731,4.0534 10.1871,4.2634 C10.0761,4.3464 9.9721,4.3714 9.8391,4.3074 C9.6951,4.2354 9.5391,4.1864 9.3911,4.1214 C8.9631,3.9304 9.0391,4.0194 8.9241,4.3494 C8.7481,4.8574 8.5981,5.3774 8.4101,5.8824 C8.1951,6.4634 7.9481,7.0334 7.7241,7.6114 C7.6721,7.7424 7.5921,7.8204 7.4631,7.8554 C6.8701,8.0134 6.2791,8.0704 5.6821,7.8794 C4.4571,7.4864 3.2321,7.0984 2.0071,6.7084 C1.7331,6.6214 1.4571,6.5424 1.1821,6.4564 C0.8701,6.3574 0.5801,6.3994 0.3061,6.5734 C0.2691,6.5974 0.2271,6.6124 0.1701,6.6404" id="Fill-4" :fill="color" mask="url(#mask-4)"></path>
              </g>
              <path d="M6.3418,7.11489 C6.3378,6.98989 6.2398,6.90189 6.1118,6.90489 C5.9958,6.90889 5.8848,7.02089 5.8868,7.13089 C5.8888,7.24189 6.0028,7.34089 6.1248,7.33689 C6.2558,7.33389 6.3458,7.24189 6.3418,7.11489 M6.7048,6.12189 C6.7048,6.01089 6.5928,5.89889 6.4788,5.89589 C6.3458,5.89189 6.2388,6.00089 6.2448,6.13489 C6.2498,6.24689 6.3418,6.34389 6.4458,6.34889 C6.5628,6.35389 6.7048,6.22789 6.7048,6.12189 M0.5958,4.39589 C0.6948,4.18889 0.7478,4.03489 0.8378,3.90489 C0.8768,3.84789 0.9868,3.82289 1.0678,3.81489 C1.5948,3.76589 2.1018,3.86489 2.6058,4.01889 C3.7218,4.35889 4.8458,4.67489 5.9628,5.01389 C6.6358,5.21889 7.2668,5.52989 7.8868,5.85689 C8.0668,5.95189 8.0778,5.98389 8.0098,6.15089 C7.7308,6.82389 7.4468,7.49389 7.1638,8.16489 C7.1428,8.21389 7.1128,8.25889 7.0758,8.32589 C6.9958,8.29989 6.9218,8.27989 6.8498,8.25089 C5.6208,7.73889 4.3578,7.32289 3.0708,6.98589 C2.3688,6.80189 1.6548,6.65689 0.9438,6.51089 C0.7438,6.46989 0.5298,6.49289 0.3238,6.48689 C0.2278,6.48489 0.1298,6.48689 0.0318,6.48689 C0.0428,6.16189 0.0948,6.09389 0.3888,6.11689 C0.8268,6.15289 1.2728,6.17889 1.6978,6.27689 C2.6508,6.49589 3.5958,6.75289 4.5428,7.00189 C4.9008,7.09389 5.0098,7.04589 5.1288,6.69989 C5.2248,6.41989 5.3228,6.13889 5.4198,5.85889 C5.4398,5.79989 5.4628,5.73989 5.4708,5.67789 C5.5068,5.44389 5.4238,5.30089 5.1918,5.23189 C4.8048,5.11989 4.4128,5.01589 4.0238,4.91189 C3.3478,4.73289 2.6668,4.56489 1.9928,4.37289 C1.6358,4.27089 1.2858,4.27489 0.9298,4.35089 C0.8438,4.36889 0.7578,4.37489 0.5958,4.39589" id="Fill-7" :fill="color"></path>
              <path d="M8.5645,8.51439 C8.6715,8.61239 8.7515,8.68139 8.8285,8.75239 C9.5845,9.45139 10.7035,9.60939 11.6095,9.12539 C11.7855,9.03239 11.9375,9.00939 12.1245,9.10439 C12.1605,9.33139 12.0545,9.49239 11.8625,9.60539 C11.5295,9.79839 11.1645,9.90139 10.7885,9.93839 C9.9705,10.01939 9.2185,9.82339 8.5505,9.33139 C8.3345,9.17139 8.3205,9.14139 8.4105,8.88839 C8.4525,8.77339 8.5025,8.66139 8.5645,8.51439" id="Fill-9" :fill="color"></path>
              <path d="M12.4902,7.49089 C12.5022,7.96989 12.5112,8.39789 12.5242,8.82689 C12.5272,8.95289 12.4782,9.01589 12.3472,8.98889 C12.0592,8.92789 11.7702,8.86889 11.4842,8.79689 C11.4352,8.78489 11.3872,8.71989 11.3652,8.66889 C11.2342,8.36689 11.1842,8.05189 11.2052,7.72289 C11.2122,7.63289 11.2382,7.56189 11.3392,7.55489 C11.7042,7.53389 12.0682,7.51389 12.4902,7.49089" id="Fill-11" :fill="color"></path>
              <path d="M0,6.63449 C0.186,6.61349 0.344,6.56649 0.496,6.58249 C0.87,6.62449 1.243,6.68349 1.611,6.75849 C2.711,6.98549 3.791,7.29249 4.861,7.63049 C4.932,7.65349 5,7.68749 5.07,7.71549 C5.064,7.73349 5.061,7.75149 5.058,7.76949 C5,7.76949 4.941,7.77849 4.886,7.76749 C3.749,7.54549 2.614,7.31849 1.477,7.09849 C1.255,7.05649 1.031,7.04649 0.828,7.19149 C0.783,7.22249 0.697,7.24849 0.657,7.22849 C0.405,7.09349 0.158,6.94649 0,6.63449" id="Fill-13" :fill="color"></path>
              <path d="M0.3731,9.36689 C0.7221,9.07889 1.3021,9.21289 2.1171,9.58389 C2.1091,9.60689 2.1071,9.64089 2.0911,9.65189 C1.6281,9.97089 0.7661,9.85289 0.4431,9.47089 C0.4161,9.43889 0.3951,9.39989 0.3731,9.36689" id="Fill-15" :fill="color"></path>
              <path d="M8.0713,9.78189 C8.1293,9.62789 8.1873,9.47289 8.2563,9.28789 C8.4683,9.41989 8.6503,9.54589 8.8433,9.65189 C9.0293,9.75389 9.2263,9.83589 9.4293,9.93089 C9.2113,10.03689 8.5553,9.96389 8.0713,9.78189" id="Fill-17" :fill="color"></path>
          </g>
      </g>
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#F2A900',
    }
  }
}
</script>