<template>
  <div class="screen">
    <button class="test-btn" @click="handleClick()">Test</button>
    <div v-for="(object, index) in objectsDisplay" :key="object.objectId">
      <div class="img-container">
        <div :class="`img-wrapper animate ${object.objectType}`" :style="`animation-delay: ${2.2*index}s`">
          <h1 class="title" v-if="object.objectType !== 'team-eliminated'">{{object.name || ''}}</h1>
          <h2 class="team" v-if="object.objectType !== 'team-eliminated'">{{object.teamName || ''}}</h2>
          <h1 class="rank" v-if="object.objectType === 'team-eliminated'">#{{object.rank}}</h1>
          <h1 class="team" v-if="object.objectType === 'team-eliminated'">{{object.name}}</h1>
        </div>
      </div>
    </div>
    
    
  </div>
</template>
<script>
import IconHelmet from '~/components/Icons/IconHelmet'
import axios from 'axios'

const defaultTeamData = {
  teamId: '',
  name: '',
  points: 0,
  members: [],
  memberDie: 0,
  memberComa: 0,
  rank: null,
  allMemberDie: false,
}


export default {
  components: {
    IconHelmet
  },
  data() {
    return {
      teamData: [],
      teamDiaData: [],
      membersState: [],
      dieTeamsState: [],
      objectsDisplay: [],
      isShowFirstBlood: false,
    }
  },
  async mounted() {
    setInterval(() => {
      this.calScore()
    }, 4000)
  },
  methods: {
    async getTeamData() {
      try {
        let members = []
        const data = await axios.get('/api/getdata')
        if (data && data.data) {  
          const teamData = data.data.reduce((result, item) => {
            
            if (item[0] && item[0].toLowerCase().includes('teamid') ) {
              result.push({
                ...defaultTeamData,
                teamId: item[0],
                name: item[1],
              })
                return result
            }

            //Point
            if (item[10] && item[10].toLowerCase().includes('point=')) {
              if (item[11]) {
                result[result.length-1].points = parseInt(item[11])
              }
              return result 
            }

            //Member
            if (item[0] && !item[0].includes('ใส่เอง') && !item[0] != 'uid' ) {
              if (item[2] == 5) {
                //Die
                result[result.length-1].memberDie++
              }
              if (item[2] == 4) {
                //coma
                result[result.length-1].memberComa++
              }

              result[result.length-1].rank = item[4] ? parseInt(item[4]) : null

              result[result.length-1].members = [
                ...result[result.length-1].members,
                item,
              ]
              

              // Add member
              members.push({
                uid: item[0],
                name: item[1],
                teamName: result[result.length-1].name,
                teamId: result[result.length-1].teamId,
                liveState: item[2],
                kill: item[5],
                grenadeKill: item[9],
              })

              return result 
            }
            return result
          }, [])

          const scoreData = teamData.reduce( (result, item) => {
            if (item.members.length <= 0) {
              return result
            }
            if (item.members.length == item.memberDie){
              item.allMemberDie = true
                result.dieTeam = [
                  ...result.dieTeam,
                  item
                ]
                return result
            }else{
              result.aliveTeam = [
                ...result.aliveTeam,
                  item
                ]
                return result
            }
          }, {
            aliveTeam: [],
            dieTeam: [],
          })
          
          this.findObjectsDisplay(members, scoreData.dieTeam)
          return teamData.filter(item => item.members && item.members.length > 0 )
        }
        

        return null
      } catch (error) {
        return null
      }
    },
    handleClick() {
      this.objectsDisplay = []
      setTimeout(()=> {
        this.objectsDisplay = [{
          uid: 'uid:12345678',
          name: 'PLAYER NAME',
          teamName: 'TEAM NAME',
        }]
      },1)
    },
    findObjectsDisplay(members, dieTeams) {
      
      let objectsDisplay = []
      let grenadeKillDisplay = []
      let teamDisplay = []
      let killDisplay = []

      members.forEach((member)=> {
        if (member.grenadeKill > 0) {
          const lastGrenadeKill = this.membersState.find( lastMember => lastMember.uid === member.uid )
          if (!lastGrenadeKill || lastGrenadeKill.grenadeKill < member.grenadeKill) {
            grenadeKillDisplay.push({
              ...member, 
              objectType: 'grenade-kill',
            })
          }
        }
      })
      if (grenadeKillDisplay) {
        console.table(grenadeKillDisplay)
      }

      if (dieTeams.length > 0) {
        dieTeams.forEach( team => {
          const lastDieTeams = this.dieTeamsState.find( lastTeam => lastTeam.teamId === team.teamId )
          if ( !lastDieTeams ) {
            teamDisplay.push({
              ...team,
              objectType: 'team-eliminated',
            })
          }
        })
      }

      if (this.isShowFirstBlood === false) {
        let memberKillDisplay = members.find((member)=> {
          if (member.kill > 0) {
            return true
          }
          return false
        })
        if (memberKillDisplay) {
          console.log("findObjectsDisplay -> memberKillDisplay", memberKillDisplay)
        }
        if (memberKillDisplay) {
          memberKillDisplay.objectType = 'first-blood'
          killDisplay.push({
            ...memberKillDisplay, 
            objectType: 'first-blood',
          })
          this.isShowFirstBlood = true
        }
      }

      this.objectsDisplay = [...killDisplay, ...grenadeKillDisplay, ...teamDisplay]
      this.membersState = [...members]
      this.dieTeamsState = [...dieTeams]
    },
    async calScore() {
      const scoreData = await this.getTeamData()
    }
  }
}
</script>
<style lang="scss">
.test-btn{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
body{
  color: #1A1A1A;
  background: #00f;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.img-wrapper{
  background:url('/images/grenade-kill.png') no-repeat center center;
  background-size: contain;
  width: 720px;
  height: 300px;
  font-size: 26px;
  position: relative;
  opacity: 0;
  &.animate{
    animation: flip-diagonal-2-bck 2.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }
  >.title{
    color: #000;
    font-size: 60px;
    position: absolute;
    top: 60px;
    left: 25px;
  }
  >.team{
    color: #314F37;
    font-size: 28px;
    position: absolute;
    top: 135px;
    left: 25px;
  }
  &.grenade-kill{
    background-image: url('/images/grenade-kill.png');
  }
  &.team-eliminated{
    background-image: url('/images/team-eliminated.png');
    width: 720px;
    height: 170px;
    >.rank{
      color: #fff;
      font-size: 60px;
      position: absolute;
      top: 76px;
      left: 0;
      right: 573px;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    >.team{
      color: #000;
      font-size: 55px;
      position: absolute;
      top: 74px;
      left: 145px;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &.first-blood{
    background-image: url('/images/first-blood.png');
    width: 700px;
    height: 270px;
    >.title{
      color: #000;
      font-size: 60px;
      position: absolute;
      top: 60px;
      left: 25px;
    }
    >.team{
      color: #314F37;
      font-size: 28px;
      position: absolute;
      top: 135px;
      left: 25px;
    }
  }
}


@keyframes flip-diagonal-2-bck {
  0% {
    transform: translateZ(260px) rotate3d(-1, 1, 0, -45deg) scale(1.5);
    opacity: 0;
  }
  10% {
    transform: translateZ(0) rotate3d(-1, 1, 0, 0deg) scale(1);
    opacity: 1;
  }
  90% {
    transform: translateZ(0) rotate3d(-1, 1, 0, 0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateZ(-260px) rotate3d(-1, 1, 0, -45deg) scale(0.5);
    opacity: 0;
  }
}

</style>