<template>
  <div v-if="teamData">
    <button @click="calScore()">Cal score</button>
    <div class="score-wrapper" :style="{height: `${teamData.length * 50 + 50}px`}">
      <div class="score-header">
        <div class="score-header__score">TEAM ALIVE</div>
        <div class="score-header__points">Points</div>
      </div>
      <div class="score-row-wrapper">
        <div :class="`score-row ${team.allMemberDie == true ? 'die-team' : '' }`" :style="{transform:`translateY(${(team.positon-1)*50}px)`, zIndex: `${100 - team.positon}`}" v-for="team in teamData" :key="team.teamId">
          <div :class="`score-row__pos ${team.rank <= 3 ? 'hilight' : ''}`" >{{team.rank ? `#${team.rank}` : ''}}</div>
          <div class="score-row__name">{{team.name}}</div>
          <div class="score-row__member">
            <div v-for="(item, index) in team.members" :key="index" class="member-status">
              <div v-if="team.allMemberDie == true"><div class="dot-life" :style="{background:`#1A1A1A`}" /></div>
              <div v-else-if="index < (team.members.length - team.memberDie)"><div class="dot-life" :style="{background:`#f2aa00`}" /></div>
              <div v-else ><div class="dot-life" :style="{background:`#1A1A1A`}" /></div>
            </div>
          </div>
          <div class="score-row__points">{{team.points <= 9 ? '0'+team.points : team.points }}</div>
        </div>
      </div>
      </div>
  </div>
</template>
<script>
import IconHelmet from '~/components/Icons/IconHelmet'
import axios from 'axios'

const defaultTeamData = {
  teamId: '',
  name: '',
  points: 0,
  members: [],
  memberDie: 0,
  memberComa: 0,
  rank: null,
  allMemberDie: false,
}


export default {
  components: {
    IconHelmet,
  },
  data() {
    return {
      teamData: [],
      teamDiaData: [],
    }
  },
  async mounted() {
    const teamData = await this.getTeamData()
    console.log(teamData)
    if (teamData && Array.isArray(teamData)) {
      
      this.teamData = teamData
      this.calScore()
      setInterval(() => {
        this.calScore()
      }, 4000)
    }
  },
  methods: {
    async getTeamData() {
      try {
        const data = await axios.get('/api/getdata')
        if (data && data.data) {
          
          const teamData = data.data.reduce((result, item) => {
            
            if (item[0] && item[0].toLowerCase().includes('teamid') ) {
              result.push({
                ...defaultTeamData,
                teamId: item[0],
                name: item[1],
              })
                return result
            }

            //Point
            if (item[10] && item[10].toLowerCase().includes('point=')) {
              if (item[11]) {
                result[result.length-1].points = parseInt(item[11])
              }
              return result 
            }

            //Member
            if (item[0] && !item[0].includes('ใส่เอง') && !item[0] != 'uid' ) {
              if (item[2] == 5) {
                //Die
                result[result.length-1].memberDie++
              }
              if (item[2] == 4) {
                //coma
                result[result.length-1].memberComa++
              }

              result[result.length-1].rank = item[4] ? parseInt(item[4]) : null

              result[result.length-1].members = [
                ...result[result.length-1].members,
                item,
              ]

              return result 
            }
            return result
          }, [])

          return teamData.filter(item => item.members && item.members.length > 0 )
        }
        return null
      } catch (error) {
        return null
      }
    },
    async calScore() {
      const scoreData = await this.getTeamData()
      if (scoreData && Array.isArray(scoreData)){
        const positionsData = scoreData.reduce( (result, item) => {
          if (item.members.length == item.memberDie){
              item.allMemberDie = true
              result.dieTeam = [
                ...result.dieTeam,
                item
              ]
              return result
          }else{
              result.aliveTeam = [
                ...result.aliveTeam,
                item
              ]
              return result
          }
        }, {
          aliveTeam: [],
          dieTeam: [],
        })
        positionsData.aliveTeam.sort((a,b) => b.points - a.points )
        positionsData.dieTeam.sort((a,b) => a.rank - b.rank )
        const allPositionsData = [
          ...positionsData.aliveTeam,
          ...positionsData.dieTeam,
        ]

        this.teamData = this.teamData.map(item => {
          const itemScore = allPositionsData.find((teamScore) => teamScore.teamId === item.teamId)
          return {
            ...itemScore,
            positon: allPositionsData.findIndex((teamScore) => teamScore.teamId === item.teamId ) + 1
          }
        }) 
      }
      console.table(this.teamData)
    }
  }
}
</script>
<style lang="scss">
body{
  background: #0f0;
  color: #1A1A1A;
}
.score-wrapper{
  // background:#15156a no-repeat center top;
  background-size: contain;
  width: 510px;
  margin: 50px auto;
  font-size: 26px;
  position: relative;
  // &::before{
  //   content: '';
  //   width: 12px;
  //   height: 12px;
  //   border-top: 4px solid #FFB400;
  //   border-left: 4px solid #FFB400;
  //   position: absolute;
  //   z-index: 1;
  //   left: -2px;
  //   top: -2px;
  // }
}
.dot-life{
  width: 18px;
  height: 18px;
  background: #f2aa00;
  border-radius: 50%;
  margin: 0 3px;
}
.dot-life.die{

}
.score-header{
  display: flex;
  // border-bottom: 10px solid #FFD215;
  // background: #0f0 url('/images/pmco-th/team-alive-header.png') no-repeat left center;
  // background-size: cover;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    left: 50%;
    // right: 0;
    top: -20px;
    // bottom: 0;
    background:url('/images/mi/team-alive-header.png') no-repeat center center;
    background-size: contain;
    width: 560px;
    height: 74px;
    margin-left: -240px;
  }
  >div{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
  }
}
.score-header__score{
  flex-grow: 1;
  color: #1a1a1a;
  font-size: 1.8em;
  font-family: 'headlinerno45';
  padding-left: 75px;
}
.score-header__points{
  flex-shrink: 1;
  // background: #FFB400;
  color: #1a1a1a !important;
  min-width: 85px;
}
.score-row-wrapper{
  position: relative;
}
.score-row{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 2px;
  box-sizing: border-box;
  // background: #fff;
  transition: all 0.6s ease;
  // border-top: 2px solid #000;
  // box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  &::before{
    content: '';
    position: absolute;
    left: -70px;
    right: -70px;
    top: -8px;
    bottom: -8px;
    background: url('/images/mi/team-alive-item-bg.png') no-repeat center center;
    background-size: contain;
    z-index: 0;
  }
}
.score-row__pos{
  // background: #000;
  color: #fff;
  width: 50px;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  min-width: 50px;
  position: relative;
  margin-left: -30px;
  &.hilight{
    color: #f2aa00;
  }
}
.score-row__name{
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 22px;
  position: relative;
  z-index: 1;
  padding-left: 50px;
}
.score-row__member{
  width: 130px;
  min-width: 130px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  .member-status{
    display: inline-block;
    line-height: 50px;
    margin-right: 0px;
    svg{
      width: 15px;
      height: 15px;
    }
  }
}
.score-row__points{
  min-width: 75px;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-right: -16px;
}
.score-row.die-team{
  // background: #879499;
  &::before{
    background: url('/images/mi/team-alive-item-bg-die.png') no-repeat center center;
  }
  .score-row__pos{
    color: #999;
  }
  .score-row__name{
    color: #000;
  }
  .score-row__points{
    color: #000;
  }
}
</style>