@import 'base/fonts';
@import 'base/variables';

body{
  padding: 0;
  margin: 0;
  font-family: 'AGENCYB';
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
}