<template>
  <div :class="`screen ${isTestMode && 'test-mode'}`">
    <button class="test-btn" @click="handleClick()">Test</button>
    <div v-for="(object, index) in objectsDisplay" :key="object.objectId">
      <div class="img-container">
        <div :class="`img-wrapper animate ${object.objectType}`" :style="`animation-delay: ${2.5*index}s`">
          <h1 class="title">{{object.name || ''}}</h1>
          <h2 class="team">{{object.teamName || ''}}</h2>
        </div>
      </div>
    </div>

    <div v-for="(object, index) in teamEliminatedDisplay" :key="object.objectId">
      <div class="img-container-team">
        <div :class="`img-wrapper animate ${object.objectType}`" :style="`animation-delay: ${2.5*index}s`">
          <h1 class="rank">#{{object.rank}}</h1>
          <h1 class="team">{{object.name}}</h1>
        </div>
      </div>
    </div>
    
    
  </div>
</template>
<script>
import IconHelmet from '~/components/Icons/IconHelmet'
import axios from 'axios'

const defaultTeamData = {
  teamId: '',
  name: '',
  points: 0,
  members: [],
  memberDie: 0,
  memberComa: 0,
  rank: null,
  allMemberDie: false,
}


export default {
  components: {
    IconHelmet
  },
  data() {
    return {
      isTestMode: false,
      teamData: [],
      teamDiaData: [],
      membersState: [],
      dieTeamsState: [],
      objectsDisplay: [],
      teamEliminatedDisplay: [],
      isShowFirstBlood: false,
    }
  },
  async mounted() {
    if ( this.isTestMode === true ) return
    setInterval(() => {
      this.calScore()
    }, 5000)
  },
  methods: {
    async getTeamData() {
      try {
        let members = []
        const data = await axios.get('/api/getdata')
        if (data && data.data) {  
          const teamData = data.data.reduce((result, item) => {
            
            if (item[0] && item[0].toLowerCase().includes('teamid') ) {
              result.push({
                ...defaultTeamData,
                teamId: item[0],
                name: item[1],
              })
                return result
            }

            //Point
            if (item[10] && item[10].toLowerCase().includes('point=')) {
              if (item[11]) {
                result[result.length-1].points = parseInt(item[11])
              }
              return result 
            }

            //Member
            if (item[0] && !item[0].includes('ใส่เอง') && !item[0] != 'uid' ) {
              if (item[2] == 5) {
                //Die
                result[result.length-1].memberDie++
              }
              if (item[2] == 4) {
                //coma
                result[result.length-1].memberComa++
              }

              result[result.length-1].rank = item[4] ? parseInt(item[4]) : null

              result[result.length-1].members = [
                ...result[result.length-1].members,
                item,
              ]
              

              // Add member
              members.push({
                uid: item[0],
                name: item[1],
                teamName: result[result.length-1].name,
                teamId: result[result.length-1].teamId,
                liveState: item[2],
                kill: item[5],
                grenadeKill: item[9],
              })

              return result 
            }
            return result
          }, [])

          const scoreData = teamData.reduce( (result, item) => {
            if (item.members.length <= 0) {
              return result
            }
            if (item.members.length == item.memberDie){
              item.allMemberDie = true
                result.dieTeam = [
                  ...result.dieTeam,
                  item
                ]
                return result
            }else{
              result.aliveTeam = [
                ...result.aliveTeam,
                  item
                ]
                return result
            }
          }, {
            aliveTeam: [],
            dieTeam: [],
          })
          
          this.findObjectsDisplay(members, scoreData.dieTeam)
          return teamData.filter(item => item.members && item.members.length > 0 )
        }
        

        return null
      } catch (error) {
        return null
      }
    },
    handleClick() {
      this.objectsDisplay = []
      this.teamEliminatedDisplay = []
      setTimeout(()=> {
        this.objectsDisplay = [
          // {
          //   uid: 'uid:12345678',
          //   name: 'PLAYER NAME',
          //   teamName: 'TEAM NAME',
          // },
          {
            objectType: 'first-blood',
            uid: 'uid:12345678',
            name: 'ONYX・SEMBAE',
            teamName: 'Onyx Esport Club',
          },
          {
            objectType: 'grenade-kill',
            uid: 'uid:12345678',
            name: 'ONYX・SEMBAE',
            teamName: 'Onyx Esport Club',
          }
        ]

        this.teamEliminatedDisplay = [
          {
            objectType: 'team-eliminated',
            uid: 'uid:12345678',
            rank: '10',
            name: 'Onyx Esport Club',
          }
        ]
      },1)
    },
    findObjectsDisplay(members, dieTeams) {
      
      let objectsDisplay = []
      let grenadeKillDisplay = []
      let teamDisplay = []
      let killDisplay = []

      members.forEach((member)=> {
        if (member.grenadeKill > 0) {
          const lastGrenadeKill = this.membersState.find( lastMember => lastMember.uid === member.uid )
          if (!lastGrenadeKill || lastGrenadeKill.grenadeKill < member.grenadeKill) {
            grenadeKillDisplay.push({
              ...member, 
              objectType: 'grenade-kill',
            })
          }
        }
      })
      if (grenadeKillDisplay) {
        console.table(grenadeKillDisplay)
      }

      if (dieTeams.length > 0) {
        dieTeams.forEach( team => {
          const lastDieTeams = this.dieTeamsState.find( lastTeam => lastTeam.teamId === team.teamId )
          if ( !lastDieTeams ) {
            teamDisplay.push({
              ...team,
              objectType: 'team-eliminated',
            })
          }
        })
      }

      if (this.isShowFirstBlood === false) {
        let memberKillDisplay = members.find((member)=> {
          if (member.kill > 0) {
            return true
          }
          return false
        })
        if (memberKillDisplay) {
          console.log("findObjectsDisplay -> memberKillDisplay", memberKillDisplay)
        }
        if (memberKillDisplay) {
          memberKillDisplay.objectType = 'first-blood'
          killDisplay.push({
            ...memberKillDisplay, 
            objectType: 'first-blood',
          })
          this.isShowFirstBlood = true
        }
      }

      this.objectsDisplay = [...killDisplay, ...grenadeKillDisplay]
      this.teamEliminatedDisplay = [...teamDisplay]
      this.membersState = [...members]
      this.dieTeamsState = [...dieTeams]
    },
    async calScore() {
      const scoreData = await this.getTeamData()
    }
  }
}
</script>
<style lang="scss">
.test-btn{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
body{
  color: #1A1A1A;
  background: #0f0;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
}
.img-container-team{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 410px;
  left: 0;
  right: 0;
}
.img-wrapper{
  width: 558px;
  height: 146px;
  font-size: 26px;
  position: relative;
  opacity: 1;
  // border: 1px solid #f00;
  &::before{
    background:url('/images/mi/grenade-kill.png') no-repeat center center;
    background-size: contain;
    position: absolute;
    top: -136px;
    left: -30px;
    right: -95px;
    bottom: -138px;
    content: '';
  }
  &.animate{
    animation: flip-diagonal-2-bck 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }
  >.title{
    font-size: 48px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-family: 'headlinerno45';
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    color: #1a1a1a;
  }
  >.team{
    color: #1A1A1A;
    font-size: 25px;
    position: absolute;
    left: -25px;
    top: 64px;
    right: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    line-height: 32px;
  }
  &.grenade-kill{
    >.team{
      left: -20px;
      top: 86px;
      right: 430px;
      text-align: center;
    }
    &::before{
      top: -166px;
      left: -80px;
      right: -95px;
      bottom: -138px;
      background-image: url('/images/mi/grenade-kill.png');
    }
  }
  &.team-eliminated{
    width: 506px;
    height: 124px;
    &::before{
      top: -8px;
      left: -150px;
      right: -209px;
      bottom: -60px;
      background-image: url('/images/mi/team-eliminated.png');
    }
    &.animate{
      animation: flip-diagonal-3-bck 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
    >.rank{
      color: #1a1a1a;
      font-size: 44px;
      position: absolute;
      top: 60px;
      left: -22px;
      right: 460px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    >.team{
      color: #1A1A1A;
      font-size: 48px;
      position: absolute;
      top: 57px;
      left: 117px;
      right: 22px;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      padding: 0 10px;
      text-align: center;
      line-height: 65px;
    }
  }
  &.first-blood{
    &::before{
      background-image: url('/images/mi/first-blood.png');
      right: -144px;
      top: -145px;
      bottom: -132px;
    }
    >.title{
      color: #1a1a1a;
      font-size: 48px;
      position: absolute;
      bottom: 10px;
      left: 230px;
      right: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      font-family: 'headlinerno45';
      font-weight: normal;
      text-align: center;
    }
    >.team{
      color: #1A1A1A;
      font-size: 23px;
      position: absolute;
      left: 10px;
      text-align: center;
      top: 83px;
      right: 340px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }
  }
}


@keyframes flip-diagonal-2-bck {
  0% {
    transform: translateZ(260px) rotate3d(-1, 1, 0, -45deg) scale(1.5);
    opacity: 0;
  }
  10% {
    transform: translateZ(0) rotate3d(-1, 1, 0, 0deg) scale(1);
    opacity: 1;
  }
  95% {
    transform: translateZ(0) rotate3d(-1, 1, 0, 0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateZ(-260px) rotate3d(-1, 1, 0, -45deg) scale(0.5);
    opacity: 0;
  }
}

@keyframes flip-diagonal-3-bck {
  0% {
    transform: translateZ(-260px) rotate3d(-1, 1, 0, 45deg) scale(0.5);
    opacity: 0;
  }
  10% {
    transform: translateZ(0) rotate3d(-1, 1, 0, 0deg) scale(1);
    opacity: 1;
  }
  95% {
    transform: translateZ(0) rotate3d(-1, 1, 0, 0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateZ(260px) rotate3d(-1, 1, 0, 45deg) scale(1.5);
    opacity: 0;
  }
}

.img-container.test,
.img-container-team.test{
  .img-wrapper{
    transform: translateZ(0) rotate3d(-1, 1, 0, 0deg) scale(1);
    opacity: 1;
    &.animate{
      animation: none;
    }
  }
}


// Test Mode
.screen.test-mode{
  .img-container,
  .img-container-team{
    .img-wrapper{
      border: 1px solid #f00;
      transform: translateZ(0) rotate3d(-1, 1, 0, 0deg) scale(1);
      opacity: 1;
      &.animate{
        animation: none;
      }
    }
  }
}
</style>