<template>
  <div class="screen">
    <button class="test-btn" @click="handleClick()">Test</button>
    <div v-for="(member, index) in membersDisplay" :key="member.uid">
      <div class="img-container">
        <div :class="`img-wrapper animate`" :style="`animation-delay: ${1.7*index}s`">
          <h1 class="rank">#{{member.rank}}</h1>
          <h2 class="team">{{member.name}}</h2>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import IconHelmet from '~/components/Icons/IconHelmet'
import axios from 'axios'

const defaultTeamData = {
  teamId: '',
  name: '',
  points: 0,
  members: [],
  memberDie: 0,
  memberComa: 0,
  rank: null,
  allMemberDie: false,
}


export default {
  components: {
    IconHelmet
  },
  data() {
    return {
      teamData: [],
      teamDiaData: [],
      membersState: [],
      membersDisplay: [],
    }
  },
  async mounted() {
    setInterval(() => {
      this.calScore()
    }, 4000)
  },
  methods: {
    async getTeamData() {
      try {
        let members = []
        const data = await axios.get('/api/getdata')
        if (data && data.data) {  
          const teamData = data.data.reduce((result, item) => {
            
            if (item[0] && item[0].toLowerCase().includes('teamid') ) {
              result.push({
                ...defaultTeamData,
                teamId: item[0],
                name: item[1],
              })
                return result
            }

            //Point
            if (item[10] && item[10].toLowerCase().includes('point=')) {
              if (item[11]) {
                result[result.length-1].points = parseInt(item[11])
              }
              return result 
            }

            //Member
            if (item[0] && !item[0].includes('ใส่เอง') && !item[0] != 'uid' ) {
              if (item[2] == 5) {
                //Die
                result[result.length-1].memberDie++
              }
              if (item[2] == 4) {
                //coma
                result[result.length-1].memberComa++
              }

              result[result.length-1].rank = item[4] ? parseInt(item[4]) : null

              result[result.length-1].members = [
                ...result[result.length-1].members,
                item,
              ]
              

              // Add member
              members.push({
                uid: item[0],
                name: item[1],
                teamName: result[result.length-1].name,
                teamId: result[result.length-1].teamId,
                liveState: item[2],
                kill: item[5],
                grenadeKill: item[9],
              })

              return result 
            }
            return result
          }, [])


          const scoreData = teamData.reduce( (result, item) => {
            if (item.members.length <= 0) {
              return result
            }
            if (item.members.length == item.memberDie){
              item.allMemberDie = true
                result.dieTeam = [
                  ...result.dieTeam,
                  item
                ]
                return result
            }else{
              result.aliveTeam = [
                ...result.aliveTeam,
                  item
                ]
                return result
            }
          }, {
            aliveTeam: [],
            dieTeam: [],
          })
          
          this.findTeamDisplay(scoreData.dieTeam)
          return teamData.filter(item => item.members && item.members.length > 0 )
        }
        

        return null
      } catch (error) {
        return null
      }
    },
    handleClick() {
      this.membersDisplay = []
      setTimeout(()=> {
        this.membersDisplay = [{
          uid: 'uid:12345678',
          name: 'TEAM NAME',
          rank: '1',
          teamName: 'TEAM NAME',
        }]
      },1)
    },
    findMembersDisplay(members) {
      
      let membersDisplay = []
      members.forEach((member)=> {
        if (member.grenadeKill > 0) {
          const lastGrenadeKill = this.membersState.find( lastMember => lastMember.uid === member.uid )
          if (!lastGrenadeKill || lastGrenadeKill.grenadeKill < member.grenadeKill) {
            membersDisplay.push(member)
          }
        }
      })
      if (membersDisplay) {
        console.table(membersDisplay)
      }
      this.membersDisplay = [...membersDisplay]
      this.membersState = [...members]
    },
    findTeamDisplay(dieTeams) {
      console.log("findTeamDisplay -> dieTeams", dieTeams)
      let teamDisplay = []
      if (dieTeams.length > 0) {
        dieTeams.forEach( team => {
          const lastDieTeams = this.membersState.find( lastTeam => lastTeam.teamId === team.teamId )
          if ( !lastDieTeams ) {
            teamDisplay.push(team)
          }
        })
      }
      this.membersDisplay = [...teamDisplay]
      this.membersState = [...dieTeams]
    },
    async calScore() {
      const scoreData = await this.getTeamData()
    }
  }
}
</script>
<style lang="scss">
.test-btn{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
body{
  color: #1A1A1A;
  background: #00f;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.img-wrapper{
  background:url('/images/team-eliminated.png') no-repeat center center;
  background-size: contain;
  width: 720px;
  height: 170px;
  font-size: 26px;
  position: relative;
  opacity: 0;
  &.animate{
    animation: flip-diagonal-2-bck 1.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }
  >.rank{
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 76px;
    left: 0;
    right: 573px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  >.team{
    color: #000;
    font-size: 55px;
    position: absolute;
    top: 74px;
    left: 145px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes flip-diagonal-2-bck {
  0% {
    transform: translateZ(260px) rotate3d(-1, 1, 0, -45deg) scale(1.5);
    opacity: 0;
  }
  15% {
    transform: translateZ(0) rotate3d(-1, 1, 0, 0deg) scale(1);
    opacity: 1;
  }
  85% {
    transform: translateZ(0) rotate3d(-1, 1, 0, 0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateZ(-260px) rotate3d(-1, 1, 0, -45deg) scale(0.5);
    opacity: 0;
  }
}

</style>